* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, serif;
}


body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p{
    padding: 5px;
}

.formulario{
    display: flex;
    flex-direction: row;
}

.formulario_itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}


#campoNome{
    font-size: 20px;
}
#campoEmail{
    font-size: 20px;
}
#campoTelefone{
    font-size: 20px;
}
#campoSelecao{
    font-size: 20px;
}
#campoMensagem{
    font-size: 20px;
}


.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 20px 15px;*/ 
    border-bottom: solid 1px rgb(219, 219, 219);
    height: 10vh;

}

.cabecalho_logo{
    width: 150px;
}
.cabecalho_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    margin-right: 200px;
}

.cabecalho_menu_link{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    padding: 0 20px;
    color: blue;
 
}

.video_incoporado{
    margin-top: 10px;
}

.tabela_carros{
    display: flex;
    padding: 15px;
}

.tabela_carros_imagens{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



.botao_checkbox{
    display: flex;
    flex-direction: row;
}

.botao_comparar{
    color: white;
    border: 2px solid rgb(49, 114, 236);
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 11px;
    width: 12%;
    cursor: pointer; 
    transition: all 0.3s ease;
}

.botao_comparar:hover {
    background-color: #2d59d4; /* Um tom de roxo mais escuro (índigo) */
    transform: scale(1.05); /* Aumenta o tamanho do botão em 5% */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra */
}

.botao_enviar{
    color: white;
    border: 0.5px solid rgb(49, 114, 236);
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 150px;
    padding:5px;
    width: 50%;
    cursor: pointer; 
    transition: all 0.3s ease;
}

.botao_enviar:hover{
      background-color: #2d59d4; /* Um tom de roxo mais escuro (índigo) */
    transform: scale(1.05); /* Aumenta o tamanho do botão em 5% */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra */
}

.botao_checkbox{

    height: 30px;
    width: 30px;
}

.botao_texto{
    font-size: 15px;
    text-align: center;
}


.ford_ranger_inicial{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    padding: 0.1rem 5rem;
}

.ford_ranger_inicial_legenda{
    align-items: center; 
    display: flex;
    /* Centraliza o conteúdo de texto/imagem dentro deste bloco */
    text-align: center; 
    justify-content: center;
}

.legenda_imagem_principal{
    text-align: center;
}

.rodape{
    background-color: rgb(10, 10, 122);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 7px;
    font-size: 1.5rem;
    font-weight: 400;
}

.rodape_links_subtitulo{
    color: white;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.rodape_links{
    display: flex;
    gap: 5px;
}

.rodape_links img{
    width: 1.5em; /* Ou um valor fixo como 24px, 30px */
    height: auto; /* Mantém a proporção */
    vertical-align: middle; /* Ajuda a alinhar com o texto */
}

.logo_rodape{
    margin-bottom: 5px;
    margin-right: 25px;
}
